{% extends 'base.html' %}

{% block header %}
<div class="text-center">
  <h1>{% block title %}Code Every Day!{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <p>
My New Years resolution is to try and code every day even if just for 10 minutes. This site is a project I can work on as a part of trying to achieve my goal. Also it will track my progress. :)
</p>
<p>
If the coding I do is for work then there will be little to no detail on what I've done that day. If it's a change to this site then this should be reflected on it's <a href="https://github.com/ceaveson/www.eaveson.co.uk">Github page</a>.
</p>
<hr>
</p></div>    
    </div>
    {% if g.user %}
        <center><a href="{{ url_for('blog.add') }}">add post</a></center>
    {% endif %}
    {% for post in posts|reverse %}
    <div class="row">
        <div class="col-4"><h4>{{ post.pub_date_str }}</h4>
            {% if g.user %}
            <a href="{{ url_for('blog.edit', post_id = post.id) }}">edit</a> | <a href="#" onclick="delpost_{{post.id}}()">delete</a>{% endif %}</div>
        <div class="col-8">
            {{ post.body | safe}}
        </div>
        </div>
        {% if g.user %}
        <script>
            function delpost_{{post.id}}() {
              let text = "Are you sure you want to delete this post?";
              if (confirm(text) == true) {
                window.open("{{ url_for('blog.delete', post_id = post.id) }}", "_self");
      }
            }
            </script>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}