{% extends 'base.html' %}

{% block header %}
<div class="text-center">
  <h1>{% block title %}Code Every Day!{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <p>
My New Years resolution is to try and code every day even if just for 10 minutes. This site is a project I can work on as a part of trying to achieve my goal. Also it will track my progress. :)
</p>
<p>
If the coding I do is for work then there will be little to no detail on what I've done that day. If it's a change to this site then this should be reflected on it's <a href="https://github.com/ceaveson/www.eaveson.co.uk">Github page</a>.
</p>
<hr>
</p></div>    
    </div>
    <div class="row">
        <div class="col-4"><h4>5th January 2023</h4></div>
        <div class="col-8">
            Eventually i'll add these daily entries into a database rather than onto a static HTML file. I'd like to also keep the date format as "5th January 2023" with the day suffix however it looks like the datetime library doesn't have this functionality so i've made a little function to do that for when I want to automate adding the date to each entry.<br>
            <script src="https://gist.github.com/ceaveson/dfb3b70bf09fbaf15b34a48dc5b4c231.js"></script>
            <br>
        </div>
        </div>
    <div class="row">
        <div class="col-4"><h4>4th January 2023</h4></div>
        <div class="col-8">
            Now added the security part of the deployment method from the article I mentioned yesterday.<br><br>
        </div>
        </div>
    <div class="row">
        <div class="col-4"><h4>3rd January 2023</h4></div>
        <div class="col-8">
            So I saw an interesting article called <a href="https://medium.com/@aadibajpai/deploying-to-pythonanywhere-via-github-6f967956e664"> Deploying to Pythonanywhere via Github</a>. I've got the initial webhooks part working so I can just deploy to this site whenever I do a push to the main branch on github. I'll be looking at the security side of this tomorrow.<br><br>
            </div>
        </div>
    <div class="row">
        <div class="col-4"><h4>2nd January 2023</h4></div>
        <div class="col-8">
            Day 2 and I decided to go through the <a href="https://flask.palletsprojects.com/en/2.2.x/tutorial/">Flask Tutorial</a> as it has been a long while since I have last had a look through it and things seem to have changed. It was mostly reading and doing copy and pastes however I received errors when running tests. I added a post to Reddit r/learnpython to see if they could help me understand what's happening.<br>
            My code which as I said is pretty much copy and pastes is on Github <a href ="https://github.com/ceaveson/flask-tutorial">here</a>
            
            <img src="{{url_for('static', filename='img/ask_reddit_for_help_1.png')}}" style="width:500px;"><br><br>
            </div>
        </div>
    <div class="row">
        <div class="row">
    <div class="col-4"><h4>1st January 2023</h4></div>
    <div class="col-8">
        This is the first day. Well started before midnight and coded into the new day. Started with some basic setup of the site including:
        <ul>
            <li>Setup hosting on Python Anywhere</li>
            <li>Start simple Flask App with templates</li>
            <li>Add Bootstrap for styling</li>
        </ul>
        </div>
    </div>
</div>
{% endblock %}